:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding: 12px;
    --me-size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    /* padding이나 margin을 줬을 때 box size를 포함해서 size가 결정되도록 */
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;  /* 문장 앞에 붙는 점이 사라짐 */
}

button,
button:focus {
    /* 브라우저 자체에서 주는 버튼 속성을 없앰 */
    border: none;
    cursor: pointer;
    outline: none;           
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    /* 위에서 정의한 변수를 이용해서 padding */
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);   
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* Video Player */
.player {
    /* 스크롤 내렸을 때 플레이어 고정되게 */
    position: sticky;
    top: 0;   /* sticky를 주는데, 위와의 간격이 0, 즉 top에 딱 붙어있어라 */
    text-align: center;
    background-color: var(--black-color);
}

.player video{
    /* 반응형 주기 -> %로 주는 게 좋음 */
    width: 100%;
    height: 100%;
    max-width: 1000px;   /* 최대 너비 제한 */
}

.info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags > li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    /* line clamp */
    /* 블록 컨테이터의 콘텐츠를 지정한 줄 수 만큼 제한 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;   /* 2줄로 제한 */
    overflow: hidden;
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}